:root {
    --brightblue: hsl(220, 98%, 61%);

    /* for dark theme */
    --VeryDarkBlue: hsl(235, 21%, 11%);
    --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
    --LightGrayishBlue: hsl(234, 39%, 85%);
    --LightGrayishBlue: hsl(236, 33%, 92%);
    --DarkGrayishBlue: hsl(234, 11%, 52%);
    --VeryDarkGrayishBlue1: hsl(233, 14%, 35%);
    --VeryDarkGrayishBlue2: hsl(237, 14%, 26%);

    /* for light theme */
    --bgColor1: hsl(0, 0%, 98%);
    --bgColor2: hsl(236, 33%, 92%);
    --wrapperbg: hsl(233, 11%, 84%);
    --footerColor: hsl(236, 9%, 61%);
    --fontColor: hsl(235, 19%, 35%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--VeryDarkBlue);
    position: relative;
    font-size: 18px;
    color: var(--LightGrayishBlue);
    font-family: 'Josefin Sans', sans-serif;
    transition: all 300ms;
}

span {
    font-size: 80%;
    display: inline;
    margin-left: 1.5rem;
}

li, .footer {
    list-style: none;
    background-color: var(--VeryDarkDesaturatedBlue);
    padding: 0.8rem;
    border-bottom: 1px solid var(--VeryDarkGrayishBlue1);
    display: flex;
    align-items: center;
}

.background img {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: -180px auto;
    position: relative;
    z-index: 1;
    /* position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);    */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    letter-spacing: 0.7rem;
    font-size: 150%;
}

.header img {
   width: 20px;
   height: 20px;
   cursor: pointer;
}

.current {
    width: 100%;
    background-color: var(--VeryDarkDesaturatedBlue);
    display: flex;
    border-radius: 8px;
    align-items: center;
    padding-left: 0.8rem;

}

.current input {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%;
    color: var(--LightGrayishBlue);
}

.check {
    border: 1px solid var(--VeryDarkGrayishBlue1);
    border-radius: 50px;
    /* background-color: var(--VeryDarkDesaturatedBlue); */
    width: 16px;
    height: 16px;
    display: inline-block;
}

.check:hover {
    cursor: pointer;
}

.box:hover {
    background-color: white;
}

.current .current-todo {
    width: 95%;
    margin-left: 5px;
    background-color: var(--VeryDarkDesaturatedBlue);
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    position: relative;
}

/* todo list */
.todo-list {
    margin-top: 2rem;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.589);
}

.todos input {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid var(--VeryDarkGrayishBlue1);
    border-radius: 50px;
    cursor: pointer;
}

.todos li.hidden {
    display:none;
}

.todos input:hover {
    background-image: linear-gradient(#25273c, #25273c),linear-gradient(hsl(192, 100%, 67%) ,hsl(280, 87%, 65%));
    border-radius: 50px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: 1px solid transparent;

}

.todo-list input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: var(--VeryDarkGrayishBlue1);
    transition: all 0.5s ease;
}

.light .todos input:hover {
    background-image: linear-gradient(#fafafa, #fafafa),linear-gradient(hsl(192, 100%, 67%) ,hsl(280, 87%, 65%));
}

.light .todo-list input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: var(--footerColor);
    transition: all 0.5s ease;
}

.todos input:checked,
.light .todos input:checked {
    backface-visibility: hidden;
    background: url(./images/icon-check.svg), linear-gradient(to right,hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.list-wrapper img {
    width: 13px;
    height: 13px;
    margin-left: auto;
    margin-right: 12px;
    opacity: 0;
}

.list-wrapper:hover img {
    opacity: 1;
}

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: none;
    
}

.items-left {
    font-size: 90%;
    color: var(--VeryDarkGrayishBlue1);
}


button {
    background: none;
    border: none;
    color: var(--VeryDarkGrayishBlue1);
    padding: 0.5rem;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

.footer span {
    margin-left: 0.5rem;
    font-weight: 700;
}

.middle {
    cursor: pointer;
}


.footer-btn:hover,
.footer-btn:active {
    color: var(--LightGrayishBlue);
} 

.footer-btn:focus {
    color: var(--brightblue);
}

.drag-drop {
    font-size: 80%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--VeryDarkGrayishBlue1);
    font-weight: 700;
}

.mob {
    display: none;
}

/* Light Theme */
.light {
    background-color: var(--bgColor2);
    transition: all 300ms;
}
.light .current,
.light .current .current-todo,
.light li, 
.light .footer {
    background-color: var(--bgColor1);
    caret-color: var(--VeryDarkBlue);
    color: var(--fontColor);
}

.light .check,
.light .todos input {
    border-color: var(--wrapperbg);
}

.light li, .light .footer {
    background-color: var(--bgColor1);
    border-color: var(--bgColor2);
}

.light .todo-list {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.light .items-left,
.light button,
.light .drag-drop {
    color: var(--footerColor);
}

.light .footer-btn:hover,
.light .footer-btn:active {
    color: var(--fontColor);
} 


/* MEDIA QUERY */

/* from 801px to 1023px */
@media only screen and (max-width: 1023px) {
    .wrapper {
        margin-top: -150px;
    }
}

/* from 601 to 767px */
@media only screen and (max-width: 800px) {
    .wrapper {
        margin: -160px auto;
    }

    .background img {
        height: 200px;
    }

    .footer .items-left,
    .footer .clear-btn {
        display: none;
    }

    .footer {
        justify-content: center;
        margin-top: 30px;
        border-radius: 10px;
        padding: 0.8rem;
    }

    .mob {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #25273c;
        padding: 0.8rem;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .light .mob {
        background-color: var(--bgColor1);
    }

    .todo-list,
    .light .todo-list {
        box-shadow: none;
    }

}

@media only screen and (max-width: 600px) {
    .wrapper {
        width: 80%;
    }
    
    .background img {
        height: 230px;
    }
}

@media only screen and (max-width: 375px) {
    .current input {
        font-size: 90%;
    }
    span {
        font-size: 70%;
    }
}

@media only screen and (max-width: 280px) {
    .items-left {
        font-size: 75%;
    }

    .mob {
        padding: 0.3rem;
    }

    .clear-btn {
        font-size: 60%;
    }
}